/* VARIÁVEIS */

:root{
    --primary-color: #4CAF4F;
}

/* Criando classe para os botões */
.green-btn{
    background: var(--primary-color);
    color: #FFF;
    font-weight: 400;
}
.green-btn:hover, .green-btn:focus{
    background: #38853b;
    color: #FFF;
}

.green-text{
    color: var(--primary-color);
}



.tesla, .business{
    background-color: #F5F7FA;
}

.space-margin-bottom{
    margin-bottom: 50px;
}

.card .card-image{
    width: 368px;
    height: 287px;
}

.descricao-conteudo{
    transform: translateY(-50%);
    background-color: #F5F7FA;
    border-radius: 8px;
    width: 317px;
    height: 176px;
    text-align: center;
    justify-self: center;
    box-shadow: 0 8px 16px #ABBED166;
}

.descricao-conteudo h4{
    color: #717171;
    font-weight: 600;
    font-size: 20px;
    padding: 16px;
    height: 84px;
    margin-bottom: 24px;
}

.descricao-conteudo a{
    font-weight: 600;
    font-size: 20px;
    line-height: 28px;
    color: var(--primary-color);
}

.get-demo{
    background-color: #F5F7FA;
}

.get-demo h1{
    font-size: 64px;
    font-weight: 600;
}

footer{
    background-color: #263238;
}

footer .container .col-md-4 p{
    color: #F5F7FA;
    font-size: 15px;
    line-height: 20px;
    font-weight: 400;
    margin: 0;
}

footer .btn-do-airplanezinho, .btn-do-airplanezinho:hover, .btn-do-airplanezinho:focus{
    border-radius: 8px;
    background: #515B60;
    transform: translateX(-40px);
    outline: none;
    box-shadow: none;
    
}

footer .input-do-airplanezinho, .input-do-airplanezinho:hover, .input-do-airplanezinho:focus{
    border-radius: 8px;
    background: #515B60;
    border: none;
    outline: none;
    box-shadow: none;
}


footer .container .col-md-8 h3{
    color: #FFF;
    font-size: 22px;
    line-height: 28px;
    font-weight: 600;
}

footer .container .col-md-8 a{
    text-decoration: none;
    color: #F5F7FA;
    size: 16px;
    line-height: 20px;
    font-weight: 400;
    margin-top: 8px;
    display: block;
}

